/* 
    Document   : style
    Created on : 6.12.2011, 10:16:44
    Author     : heox
    Description:
        Purpose of the stylesheet follows.
*/

/* 
od temnejse do svetlejse

202B30
4E7178
4FA9B8
74C0CF
F1F7E2


   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
table
{ 
    width:100%;
    margin:0px;
    padding:0px;
    
}
tr,td
{
    width:auto;
}

.headerMain
{
    height:80px;
    width:99%;
    background-color: #bfcef5;
    background-image:  url('mimofaksa-logo.png'), url('mimofaksa-header.png');
    background-repeat: no-repeat, repeat-x;
    
    border-radius: 10px 10px 10px 10px;
    webkit-border-radius: 10px 10px 10px 10px;
    moz-border-radius: 10px 10px 10px 10px;
}

.footerMain
{
    height:100px;
    width:99%;
        background-color:#4FA9B8;
    position:absolute;
    bottom:0;
}

.content
{
    width:70%;
    position:absolute;
    left:320px;
    min-width: 500px;
    
}


.purchase
{   
    background-color:#EEE;
    
    border-radius: 10px 10px 10px 10px;
    webkit-border-radius: 10px 10px 10px 10px;
    moz-border-radius: 10px 10px 10px 10px;
}

#btn
{
    color:black;
    background-color: white;
    text-decoration: none;
}

#btn:hover
{
    color:white;
    background-color: black;
}

.leftColumn
{
    
    position: absolute;
    height: 500px;
    background-image:url('mimofaksa-menu-bar.png');
    background-repeat: no-repeat;
    width:270px;
    
    padding:10px;
    padding-left:20px;
}

.leftColumn table
{
    position: absolute;
    width: inherit;
    top: 30px;
    margin-top:10px;
    padding-top:10px;
}

.leftColumn table td
{
    padding:10px;
}

.leftColumn table td a
{
    text-decoration: none;
    
    color: black;
    padding:0px;
    
}

.leftColumn table td a:hover
{
    text-decoration: none;
    color: gray;
    background-color: white;
}


.kosarica
{
    width:auto;
}

.kosarica table td
{
    border-bottom: 1px lightsteelblue dashed;
}


.kosarica table #prvi
{
    width:15%;
}

.kosarica table th
{
   
    background-color: lightsteelblue;
    border-top: none;
    
}

.kosarica table a
{
    padding: 3px;
    line-height: 200%;
    text-decoration: none;
    border: 2px solid lightgray;
}

.zgodovina td
{
    width: 150px;

}
.zgodovina th 
{
    
    line-height: 200%;
    text-align: left;
    border-top: 1px lightsteelblue solid;
    border-bottom: 1px lightsteelblue dashed;
}
.zgodovina td a
{
    padding: 2px;
    border: 2px solid lightgray;

}
.custom th
{
    line-height: 200%;
    text-align: left;

}
.custom table
{
    border-collapse: collapse;
}
.custom td
{
    border:1px solid black;
    
}

.custom td a
{
    padding: 3px;
    line-height: 200%;
    text-decoration: none;
    border: 2px solid lightgray;
}
